__pycache__

.vscode
.DS_Store
/.idea

/containers/config/
/bin
/rpmbuild
/osbuild-composer
/osbuild-worker

/tools/appsre-ansible/inventory

/docs/osbuild-composer.7
.cache
processed-templates

coverage.txt
coverage.html
coverage_splunk_logger.txt
coverage_splunk_logger.html

go.local.mod
go.local.sum
container_worker_built.info
container_composer_built.info
container_composer_golangci_built.info

