__pycache__

/osbuild-composer
/osbuild-worker
/osbuild-weldr-tests
/osbuild-pipeline
/osbuild-upload-azure
/osbuild-upload-aws
/osbuild-dnf-json-tests
/osbuild-tests
/osbuild-weldr-tests
/osbuild-rcm-tests

/*.tar.gz
/*.src.rpm

/rpmbuild
