stages:
  - init
  - rpmbuild
  - prepare-rhel-internal
  - test
  - cleanup
  - finish

.base:
  after_script:
    - schutzbot/update_github_status.sh update
    - schutzbot/save_journal.sh
    - schutzbot/run_cloud_cleaner.sh
  tags:
    - terraform
  artifacts:
    paths:
      - journal-log.gpg
      - ci-artifacts
      - iostats.json
    when: always

.terraform:
  extends: .base
  tags:
    - terraform

.terraform/openstack:
  extends: .base
  tags:
    - terraform/openstack


init:
  stage: init
  tags:
    - shell
  script:
    - schutzbot/update_github_status.sh start

RPM:
  stage: rpmbuild
  extends: .terraform
  rules:
    - if: '$CI_PIPELINE_SOURCE != "schedule"'
  script:
    - schutzbot/start_iostats.sh
    - sh "schutzbot/mockbuild.sh"
    - schutzbot/stop_iostats.sh
  after_script:
    - schutzbot/update_github_status.sh update
    - schutzbot/save_journal.sh
  artifacts:
    paths:
      - journal-log.gpg
  parallel:
    matrix:
      - RUNNER:
          - aws/rhel-8.6-nightly-x86_64
        INTERNAL_NETWORK: ["true"]

Container:
  stage: rpmbuild
  extends: .terraform
  rules:
    - if: '$CI_PIPELINE_SOURCE != "schedule"'
  script:
    - schutzbot/start_iostats.sh
    - sh "schutzbot/containerbuild.sh"
    - schutzbot/stop_iostats.sh
  parallel:
    matrix:
      - RUNNER:
          - aws/fedora-33-x86_64

Prepare-rhel-internal:
  stage: prepare-rhel-internal
  extends: .terraform
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $RUNNER =~ /[\S]+rhel-9.0-[^ga][\S]+/ && $NIGHTLY == "true" && $RHEL_MAJOR == "9"'
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $RUNNER =~ /[\S]+rhel-8.6-[^ga][\S]+/ && $NIGHTLY == "true" && $RHEL_MAJOR == "8"'
  script:
    - schutzbot/start_iostats.sh
    - schutzbot/prepare-rhel-internal.sh
    - schutzbot/stop_iostats.sh
  artifacts:
    paths:
      - rhel-${RHEL_MAJOR}.json
      - rhel${RHEL_MAJOR}internal.repo
      - rhel-${RHEL_MAJOR}-beta.json
      - COMPOSE_ID
  parallel:
    matrix:
      - RUNNER:
          # NOTE: 1 runner prepares for all arches b/c subsequent jobs download
          # artifacts from all previous jobs and the last one wins
          - aws/rhel-8.6-nightly-x86_64
          - aws/rhel-9.0-nightly-x86_64
        INTERNAL_NETWORK: ["true"]

OSTree:
  stage: test
  extends: .terraform/openstack
  rules:
    - if: '$CI_PIPELINE_SOURCE != "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $RUNNER =~ /[\S]+rhel-9.0-[^ga][\S]+/ && $NIGHTLY == "true" && $RHEL_MAJOR == "9"'
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $RUNNER =~ /[\S]+rhel-8.6-[^ga][\S]+/ && $NIGHTLY == "true" && $RHEL_MAJOR == "8"'
  script:
    - schutzbot/start_iostats.sh
    - schutzbot/deploy.sh
    - /usr/libexec/tests/osbuild-composer/ostree.sh
    - schutzbot/stop_iostats.sh

OSTree raw image:
  stage: test
  extends: OSTree
  script:
    - schutzbot/start_iostats.sh
    - schutzbot/deploy.sh
    - /usr/libexec/tests/osbuild-composer/ostree-raw-image.sh
    - schutzbot/stop_iostats.sh
  parallel:
    matrix:
      - RUNNER:
          - openstack/rhel-8.6-nightly-x86_64-large-rhos1

SCHEDULED_CLOUD_CLEANER:
  stage: cleanup
  tags:
    - terraform
  variables:
    RUNNER: aws/centos-stream-8-x86_64
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $CLEANUP == "true"'
  script:
    - schutzbot/deploy.sh
    - schutzbot/scheduled_cloud_cleaner.sh

finish:
  stage: finish
  tags:
    - shell
  script:
    - schutzbot/update_github_status.sh finish
