dist: bionic
addons:
  apt:
    packages:
      - systemd-container
      - qemu-utils
      - yum
      - gnupg2
matrix:
  include:
    - name: unit-tests
      arch: amd64
      language: go
      go: 1.12.x
      env: GO111MODULE=on # needed even for Go 1.12
      before_install: go get github.com/mattn/goveralls
      script: $GOPATH/bin/goveralls -show -v -service=travis-ci
    - name: unit-tests
      arch: arm64
      language: go
      go: 1.12.x
      env: GO111MODULE=on # needed even for Go 1.12
      before_install: go get github.com/mattn/goveralls
      script: $GOPATH/bin/goveralls -show -v -service=travis-ci
    - name: unit-tests
      arch: s390x
      language: go
      go: 1.12.x
      env: GO111MODULE=on # needed even for Go 1.12
      before_install: go get github.com/mattn/goveralls
      script: $GOPATH/bin/goveralls -show -v -service=travis-ci
    - name: image-test-empty-blueprint
      arch: amd64
      language: python
      python: 3.7
      before_install: sudo apt-get install -y qemu-kvm genisoimage
      script:
        # ubuntu's rpm package sets dbpath to ~/.rpmdb, which makes rpm fail...
        - sudo sh -c 'mkdir /etc/rpm; echo "%_dbpath /var/lib/rpm" > /etc/rpm/macros'
        - sudo env "PATH=$PATH" "PYTHONUNBUFFERED=1" "OSBUILD_TEST_BUILD_ENV=test/f27-build-from-ubuntu1804.json" test/run --arches x86_64 --cases test/cases/*_empty_blueprint.json
    - name: image-test-local-boot
      arch: amd64
      language: python
      python: 3.7
      before_install: sudo apt-get install -y qemu-kvm genisoimage
      script:
        # ubuntu's rpm package sets dbpath to ~/.rpmdb, which makes rpm fail...
        - sudo sh -c 'mkdir /etc/rpm; echo "%_dbpath /var/lib/rpm" > /etc/rpm/macros'
        - sudo env "PATH=$PATH" "PYTHONUNBUFFERED=1" "OSBUILD_TEST_BUILD_ENV=test/f27-build-from-ubuntu1804.json" test/run --arches x86_64 --cases test/cases/*_local_boot.json
    - name: image-test
      arch: arm64
      language: python
      python: 3.7
      before_install: sudo apt-get install -y qemu-kvm genisoimage
      script:
        # ubuntu's rpm package sets dbpath to ~/.rpmdb, which makes rpm fail...
        - sudo sh -c 'mkdir /etc/rpm; echo "%_dbpath /var/lib/rpm" > /etc/rpm/macros'
        - sudo env "PATH=$PATH" "PYTHONUNBUFFERED=1" "OSBUILD_TEST_BUILD_ENV=test/f27-build-from-ubuntu1804.json" test/run --arches aarch64
    - name: image-test
      arch: s390x
      language: python
      python: 3.7
      before_install: sudo apt-get install -y qemu-kvm genisoimage
      script:
        # ubuntu's rpm package sets dbpath to ~/.rpmdb, which makes rpm fail...
        - sudo sh -c 'mkdir /etc/rpm; echo "%_dbpath /var/lib/rpm" > /etc/rpm/macros'
        - sudo env "PATH=$PATH" "PYTHONUNBUFFERED=1" "OSBUILD_TEST_BUILD_ENV=test/f27-build-from-ubuntu1804.json" test/run --arches s390x
