/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PulpAnsibleDefaultApiV3CollectionVersionsAllAPIService PulpAnsibleDefaultApiV3CollectionVersionsAllAPI service
type PulpAnsibleDefaultApiV3CollectionVersionsAllAPIService service

type PulpAnsibleDefaultApiV3CollectionVersionsAllAPIPulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllListRequest struct {
	ctx context.Context
	ApiService *PulpAnsibleDefaultApiV3CollectionVersionsAllAPIService
}

func (r PulpAnsibleDefaultApiV3CollectionVersionsAllAPIPulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllListRequest) Execute() ([]UnpaginatedCollectionVersionResponse, *http.Response, error) {
	return r.ApiService.PulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllListExecute(r)
}

/*
PulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllList Method for PulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllList

Legacy v3 endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PulpAnsibleDefaultApiV3CollectionVersionsAllAPIPulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllListRequest

Deprecated
*/
func (a *PulpAnsibleDefaultApiV3CollectionVersionsAllAPIService) PulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllList(ctx context.Context) PulpAnsibleDefaultApiV3CollectionVersionsAllAPIPulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllListRequest {
	return PulpAnsibleDefaultApiV3CollectionVersionsAllAPIPulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []UnpaginatedCollectionVersionResponse
// Deprecated
func (a *PulpAnsibleDefaultApiV3CollectionVersionsAllAPIService) PulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllListExecute(r PulpAnsibleDefaultApiV3CollectionVersionsAllAPIPulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllListRequest) ([]UnpaginatedCollectionVersionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []UnpaginatedCollectionVersionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpAnsibleDefaultApiV3CollectionVersionsAllAPIService.PulpAnsibleGalaxyDefaultApiV3CollectionVersionsAllList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp_ansible/galaxy/default/api/v3/collection_versions/all/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
