[Unit]
Description=OSBuild Composer API sockets

[Socket]
ListenStream=/run/weldr/api.socket
ListenStream=/run/osbuild-composer/job.socket

[Install]
WantedBy=sockets.target
