[Unit]
Description=OSBuild Composer API socket
Requires=osbuild-composer-prometheus.socket

[Socket]
Service=osbuild-composer.service
ListenStream=443

[Install]
WantedBy=sockets.target
