[Unit]
Description=Worker Configuration Service
ConditionPathExists=!/etc/worker-first-boot
Wants=cloud-final.service
After=cloud-final.service

[Service]
Type=oneshot
ExecStart=touch /etc/worker-first-boot
ExecStart=/usr/libexec/osbuild-worker-config/set_hostname.sh
ExecStart=/usr/libexec/osbuild-worker-config/vector.sh
ExecStart=/usr/libexec/osbuild-worker-config/monit.sh
ExecStart=/usr/libexec/osbuild-worker-config/offline_token.sh
ExecStart=/usr/libexec/osbuild-worker-config/client_credentials.sh
ExecStart=/usr/libexec/osbuild-worker-config/subscription_manager.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_aws_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_azure_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_gcp_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_koji_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/worker_service.sh

[Install]
WantedBy=multi-user.target
