[Unit]
Description=OSBuild Composer Worker (%i)
Requires=osbuild-composer.socket
After=multi-user.target osbuild-composer.socket

[Service]
Type=simple
PrivateTmp=true
ExecStart=/usr/libexec/osbuild-composer/osbuild-worker -unix /run/osbuild-composer/job.socket
Restart=on-failure
RestartSec=10s
CPUSchedulingPolicy=batch
IOSchedulingClass=idle

[Install]
WantedBy=osbuild-composer.service
