[Unit]
Description=OSBuild Composer Weldr API socket

[Socket]
ListenStream=/run/weldr/api.socket
ListenStream=/run/cloudapi/api.socket
SocketGroup=weldr
SocketMode=660

[Install]
WantedBy=sockets.target
