[Unit]
Description=Worker Configuration Service
ConditionPathExists=!/etc/worker-first-boot
Before=osbuild-worker.service vector.service monit.service
Wants=cloud-final.service
After=cloud-final.service

[Service]
Type=oneshot
ExecStart=touch /etc/worker-first-boot
ExecStart=/usr/libexec/osbuild-worker-config/set_hostname.sh
ExecStart=/usr/libexec/osbuild-worker-config/subscription_manager.sh
ExecStart=/usr/libexec/osbuild-worker-config/vector.sh
ExecStart=/usr/libexec/osbuild-worker-config/monit.sh
ExecStart=/usr/libexec/osbuild-worker-config/osbuild_worker.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_openshift_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_redhat_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_aws_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_azure_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_gcp_creds.sh
ExecStart=/usr/libexec/osbuild-worker-config/get_koji_creds.sh

[Install]
RequiredBy=osbuild-worker.service vector.service monit.service
