[Unit]
Description=OSbuild dnf-json service
Requires=osbuild-dnf-json.socket

[Service]
Type=simple
PrivateTmp=true
ExecStart=/usr/libexec/osbuild-composer/dnf-json
Restart=always
RestartSec=1s
CacheDirectory=osbuild-dnf-json
# systemd >= 240 sets this, but osbuild-worker runs on earlier versions
Environment="CACHE_DIRECTORY=/var/cache/osbuild-dnf-json"
