---

# Subscribe
- import_tasks: subscribe.yml

# Install various software packages.
- import_tasks: packages.yml

# Configure worker initialization service.
- import_tasks: worker-initialization-service.yml

# Configure the worker.
- import_tasks: worker-config.yml

# Unregister
- import_tasks: unregister.yml

- name: Ensure SELinux contexts are updated
  tags:
    - always
  command: restorecon -Rv /etc

# The workers are RHEL10 and are still building RHEL 9 and RHEL 8
# images. The latter contain rpms signed with sha1 keys, which need to
# be imported successfully when creating the buildroot.
- name: Set crypto policy to LEGACY
  become: yes
  tags:
    - rhel
  shell: >-
    sudo update-crypto-policies --set LEGACY
