---

# Subscribe
- include_tasks: subscribe.yml

# Install various software packages.
- include_tasks: packages.yml

# Configure worker initialization service.
- include_tasks: worker-initialization-service.yml

# Configure the worker.
- include_tasks: worker-config.yml

# Unregister
- include_tasks: unregister.yml

- name: Ensure SELinux contexts are updated
  tags:
    - always
  command: restorecon -Rv /etc
