---

- name: Add osbuild-composer repository
  tags:
    - rpmrepo
  yum_repository:
    name: "composer"
    description: "osbuild-composer commit {{ COMPOSER_COMMIT }}"
    baseurl: "http://osbuild-composer-repos.s3.amazonaws.com/osbuild-composer/{{ rpmrepo_distribution }}/{{ ansible_architecture }}/{{ COMPOSER_COMMIT }}"
    enabled: yes
    gpgcheck: no
    priority: "5"

- name: Add osbuild repository
  tags:
    - rpmrepo
  yum_repository:
    name: "osbuild"
    description: "osbuild commit {{ osbuild_commit }}"
    baseurl: "http://osbuild-composer-repos.s3-website.us-east-2.amazonaws.com/osbuild/{{ rpmrepo_distribution }}/{{ ansible_architecture }}/{{ osbuild_commit }}"
    enabled: yes
    gpgcheck: no
    priority: "5"
  # if osbuild_commit is not defined, osbuild from distribution repositories is installed
  when: osbuild_commit is defined

# We need EPEL for monit
- name: Add EPEL
  dnf:
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
    state: present
    disable_gpg_check: yes
  when: ansible_distribution == 'RedHat'

- name: Upgrade all packages
  package:
    name: "*"
    state: latest
  register: result
  retries: 5
  until: result is success

- name: Add Vector repo
  copy:
    src: "{{ playbook_dir }}/roles/common/files/timber-vector.repo"
    dest: /etc/yum.repos.d/

- name: Install required packages
  package:
    name:
      - jq
      - awscli
      - monit
      - vector
  register: result
  retries: 5
  until: result is success

- name: Create rpmbuild directory
  tags:
    - rpmcopy
  file:
    path: "{{ item }}"
    state: directory
  with_items:
  - /tmp/rpmbuild
  - /tmp/rpmbuild/RPMS

- name: Push rpms
  tags:
    - rpmcopy
  ansible.posix.synchronize:
    mode: push
    src: "{{ playbook_dir }}/roles/common/files/rpmbuild/RPMS"
    dest: /tmp/rpmbuild

- name: Add repo config
  tags:
    - rpmcopy
  copy:
    dest: /etc/yum.repos.d/osbuild.repo
    content: |
      [osbuild]
      name=osbuild
      baseurl=file:///tmp/rpmbuild/RPMS
      enabled=1
      gpgcheck=0
      priority=1

- name: Install worker rpm
  package:
    name:
      - osbuild-composer-worker
    state: present

- name: Cleanup rpmbuild dir
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /tmp/rpmbuild
    - /etc/yum.repos.d/osbuild.repo
